    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <p class="text-muted credit"> This website is open-source and available on <a href="https://github.com/rltianlab/rltianlab.github.io">Github</a>.</p>
      </div>
    </div>


  </div>
  <script type="text/javascript" src='{{ site.baseurl }}/static/js/jquery-2.1.1.min.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script type="text/javascript" src='{{ site.baseurl }}/static/js/init.js'></script>
</body>
</html>
